
<h1>Inventory</h1>

<!-- <div id="account_balance">
  <h3>Account Balance: £<%= @inventory.account_balance %> </h3>
</div> -->


<%= erb(:"stock/index") %> 
<br>

 
<form class="inventory_actions" action="/inventory/stock" method="get">
  <input type="hidden" name="account_balance" value="@inventory.account_balance"/>
  <select name="id">
    <% @inventory.albums.each do |album| %>
    <option value="<%= album.id %>"><%= album.title %></option>
    <% end %>
  </select>
  <button type="submit">See Stocked Album</button>

</form>


<form class="inventory_actions" action="/inventory/buy" method="post">
  <input type="hidden" name="account_balance" value="@inventory.account_balance"/>
  <select name="album_id">
    <% @stock_views.each do |stock_item| %>
        <option value="<%= stock_item.album_id %>"><%= stock_item.album_title %></option>
    <% end %>
  </select>
  
  <label>Quantity:</label>
  <input type="number" name="quantity" required/>

  <button type="submit">Buy Stock</button>

</form>


<form class="inventory_actions" action="/inventory/sell" method="post">
  <input type="hidden" name="account_balance" value="@inventory.account_balance"/>
  <select name="album_id">
    <% @stock_views.each do |stock_item| %>
        <option value="<%= stock_item.album_id %>"><%= stock_item.album_title %></option>
    <% end %>
  </select>
  
  <label>Quantity:</label>
  <input type="number" name="quantity" required/>

  <button type="submit">Sell Stock</button>

</form>










  