<h1>Stock Item</h1>
<% stock_item = @inventory.full_stock_search(params['id']) %>
  <% if stock_item.class == String %>
    <h3><%= stock_item %></h3>
    
  <% else %>
  <div class="stock_item_details">
    <h3>Album Title: <%= stock_item['album_title'] %></h3>

    <h3>Artist: <%= stock_item['album_artist'] %></h3>

    <h3>Buy price per album: £<%= stock_item['buy_price'] %></h3>

    <h3>Retail price per album: £<%= stock_item['sell_price'] %></h3>
  </div>

  <div class="stock_item_status">
    <h3>Current Stock Quantity: <%= stock_item['current_quantity'] %></h3>

    <h3> Stock Quantity Status: <%= @inventory.quantity_check(stock_item['current_quantity']) %></h3>

    <% markup = @inventory.markup(stock_item['buy_price'], stock_item['sell_price']) %>
    <h3>Markup: £<%= markup %></h3>
    
    <h3>Total possible revenue (based on current retail price and quantity): 
    £ <%= @inventory.total_revenue(markup, stock_item['current_quantity']) %></h3>
  </div>
  
  <% end %>